
   .review-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #1a1919;
    margin-bottom: 20px;
  }
  
  .review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://e0.pxfuel.com/wallpapers/502/546/desktop-wallpaper-light-blue-fade-to-black-abstract-thumbnail.jpg');
  }
  
  .review-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #3d3939;
  }
  
  .review-form select,
  .review-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .review-form .stars {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  
  .review-form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #16b93c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .review-form button:hover {
    background-color: #218838;
  }
  
  .review-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .review-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .review-card:hover {
    transform: translateY(-5px);
  }
  
  .review-card .rating {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .review-card .stars {
    display: flex;
    gap: 5px;
  }
  
  .review-card p {
    margin: 10px 0;
    color: #555;
  }
  
  .review-card p strong {
    color: #333;
  }